.App{
  width: 100%;
  height: 100vh;
  font-size: 18px;
}



.header{
  display: flex;
  top:0px;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #96f2e8, #00a8ff);
  border-radius:20px 20px 20px 20px;
  color: aliceblue;
  position:fixed;
  width: 100%;
  z-index: 2;
  height: 60px;
}
.header .logo h3{
  font-size: 30px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;

}
nav ul li a{
  text-decoration: none;
  color: rgb(252, 252, 252);
  transition: all 0.25;
  
}

nav ul li a:hover{
  color: rgb(144, 224, 144);

}
.main-content {
  padding-top: 60px; /* ヘッダーの高さに合わせて調整 */
}
.Toppage {
  z-index: 3;
  padding-top: 100px; 
} 

.sideopen{
  position: fixed;
  width: 4cqi;
  padding: 10px;
  top: 60px; /* headerの高さ＋余白 */
  left: 0px; /* 左からの距離 */
  border:none;
  background-color:#8098f7cc;
  z-index: 3;
  border-radius: 40px;
}

.sidebar{
  position: fixed;
  top: 60px; /* headerの高さ＋余白 */
  left: 0px; /* 右からの距離 */
  width: 250px; /* サイドバーの幅 */
  height: calc(100vh - 200px); /* 画面の高さ - headerの高さ */
  background-color: rgb(156, 217, 254); /* 透明度を設定 */
  overflow-y: auto; /* コンテンツがサイズを超える場合にスクロールバーを表示 */
  padding: 20px;
  z-index: 3;
  border-radius: 25px;
}

.sideclose{
  position: fixed;
  width: 50px;
  padding: 10px;
  top: 60px; /* headerの高さ＋余白 */
  left: 200px; /* 左からの距離 */
  z-index: 4;
	border-radius: 30px;
  border:none;
  background-color:#8098f7cc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebarlist{
  height:auto;
  padding:0;
  width:100%;
}

.sidebarlist li {
  display: flex; /* 要素を横並びにする */
  align-items: center; /* アイコンとテキストを垂直方向に中央揃え */
  cursor: pointer;
  margin-bottom: 15px; /* 要素の下に余白を追加 */
  border-bottom: 1px solid #333;
}

.sidebarlist li #icon {
  margin-right: 10px; /* アイコンとテキストの間隔 */
}

.sidebarlist li:last-child {
  margin-bottom: 0; /* 最後の要素に余白を追加しない */
}

.sidebarlist #active{
  background-color: #c0c8ff;
}

.sidebarlist .row{
  width:100%;
  height:60px;
  display:flex;
  color: rgba(0, 0, 0); /* テキストの色 */
  align-items:center;
}

.sidebarlist .row:hover{
  cursor:pointer;
  background-color: #c0c8ff;
  border-radius: 30px;
}


.Ainotecontainer {
  display: flex;
  height: 100vh;
}

.Ainotesidebar {
  width: 25%;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 2px solid #cde0e7;
}

.Ainotecontent {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 0 10px 10px 0; /* 角の丸み */
}

.Ainotesidebar h2 {
  font-size: 24px;
}

.Ainotesidebar .Ainotesearch {
  margin-top: 20px;

}

.Ainotesidebar .Ainotesearch input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #cde0e7;
}

.Ainotesidebar .Ainotelist {
  margin-top: 20px;}
  

.Ainotesidebar .Ainotelist ul {
  list-style: none;
  padding: 0;
}

.Ainotesidebar .Ainotelist ul li {
  background-color: #cde0e7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Ainotecontent textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #cde0e7;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none; /* サイズ変更不可 */
}


.contact-form {
  background-color: #ffffff; /* フォーム全体の背景色 */
  padding: 20px; /* フォームの内側に余白を追加 */
  border-radius: 10px; /* 角を丸くする */
}

.contact-form h3 {
  margin-bottom: 20px; /* タイトルの下に余白を追加 */
}

.contact-form p {
  margin-bottom: 10px; /* 各段落の下に余白を追加 */
}

.contact-form input,
.contact-form textarea {
  font-size: 18px;
  border: 5px solid black; /* 黒い枠線を追加 */
  padding: 10px; /* 内側の余白を追加 */
  width: 100%; /* 幅を100%に設定 */
  box-sizing: border-box; /* ボックスサイズを調整 */
  margin-bottom: 20px; /* 下に余白を追加 */
}

.contact-submit {
  background-color: #25282a;
  color: #889eab;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px; /* 角を丸くする */
}
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* カードを中央揃え */
  margin: 0 auto; /* コンテナ自体を中央に */
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 16px;
  width: 300px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05); /* ホバー時にカードを拡大 */
}

.card img {
  width: 100%;
  height: auto;
  justify-content: center
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.25em;
  margin-bottom: 8px;
}

.card-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 16px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-button {
  background-color: #85dff7;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.card-button:hover {
  background-color: #edfb6f;
}