/* 親要素のスタイル */
.Ainotecontainer {
  display: flex;
  height: 100vh;
}

/* サイドバーのスタイル */
.Ainotesidebar {
  width: 25%;
  padding: 20px;
  background-color: #f9f9f9;
  border-right: 2px solid #cde0e7;
}

.Ainotesidebar h2 {
  font-size: 24px;
}

.Ainotesidebar .Ainotesearch {
  margin-top: 20px;
}

.Ainotesidebar .Ainotesearch input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #cde0e7;
}

.Ainotesidebar .Ainotelist {
  margin-top: 20px;
}

.Ainotesidebar .Ainotelist ul {
  list-style: none;
  padding: 0;
}

.Ainotesidebar .Ainotelist ul li {
  background-color: #cde0e7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* 横並びにするスタイル */
.Ainotecontent {
  flex: 1;
  padding: 20px;
}


  